<footer data-elementor-type="footer" data-elementor-id="45" class="elementor elementor-45 elementor-location-footer" data-elementor-post-type="elementor_library">
					<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-819ea01 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="819ea01" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1788fcb" data-id="1788fcb" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-8e4d263 elementor-widget elementor-widget-heading" data-id="8e4d263" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Meaning is the mission</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-3963673 elementor-widget elementor-widget-heading" data-id="3963673" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default"><a href="https://www.teamonup.com/">BOOK BY MIKE KELLY<br>CREATOR OF MISSION BOSS &amp; CEO OF TEAMONUP</a></h2>				</div>
				</div>
				<div class="elementor-element elementor-element-2192117 elementor-icon-list--layout-inline elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="2192117" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/privacy-policy/">

											<span class="elementor-icon-list-text">Privacy Policy</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/terms-of-use/">

											<span class="elementor-icon-list-text">Terms of Use</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-42667dd elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons" data-id="42667dd" data-element_type="widget" data-e-type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid">
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin-in elementor-animation-grow elementor-repeater-item-e9b3cef" href="https://www.linkedin.com/in/gomikekelly/" target="_blank">
						<span class="elementor-screen-only">Linkedin-in</span>
						<i aria-hidden="true" class="fab fa-linkedin-in"></i>					</a>
				</span>
					</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-e5289a9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e5289a9" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c7d4d12" data-id="c7d4d12" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-ad29791 elementor-widget elementor-widget-heading" data-id="ad29791" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">© 2026 Meaning Is The Mission. All Rights Reserved.</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-145ca4f elementor-widget elementor-widget-heading" data-id="145ca4f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">*Source: Zippia.com: How Much Can Disengaged Employees Cost Your Business?</h2>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</footer>